<div class="container">

  <h2>Revisión solicitud de mantenimiento</h2>

  <form [formGroup]="formSolicitudMantenimiento">
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Consecutivo" formControlName="consecutivo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del solicitante" formControlName="nombreSolicitante">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono o extensión" formControlName="telefono">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contacto adicional" formControlName="contacto">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Urgencia de la solicitud" formControlName="urgencia">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Área de trabajo a solicitar" formControlName="areaTrabajo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lugar donde realiza el trabajo" formControlName="lugarTrabajo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Descripción del trabajo" formControlName="descripcion">
      </mat-form-field>


    </mat-card>
  </form>

</div>
