<div class="container">

  <h2>Revisión solicitud de mantenimiento</h2>

  <form [formGroup]="formSolicitudMantenimiento">
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Consecutivo" formControlName="consecutivo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del solicitante" formControlName="nombreSolicitante">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Unidad o laboratorio" formControlName="unidad">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono o extensión" formControlName="telefono">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contacto adicional" formControlName="contactoAdicional">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Urgencia de la solicitud" formControlName="urgencia">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Área de trabajo a solicitar" formControlName="areaTrabajo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lugar donde realiza el trabajo" formControlName="lugarTrabajo">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Descripción del trabajo" formControlName="descripcion">
      </mat-form-field>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let solicitud">
          <button mat-button class="botonesTabla" [routerLink]="['../../solicitudes-revisar', solicitud.id, solicitud.anno]">Revisar</button>
        </td>

      </ng-container>

      <label class="container">
        <input type="radio" (click)="AccionAceptar()" formControlName="check1"/> Aprobar
      </label>

      <label class="container">
        <input type="radio" (click)="AccionRechazar()" formControlName="check2"/> Rechazar
      </label>

      <mat-form-field>
        <input matInput placeholder="Observaciones" formControlName="observaciones" *ngIf="habilitadoAceptar()">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Motivo del rechazo" formControlName="motivoRechazo" *ngIf="habilitadoRechazar()">
      </mat-form-field>

    </mat-card>
  </form>

</div>
