<div class="container">
  <form [formGroup]="formLogin">

    <mat-card class="loginCard">
      
      <div style="margin-bottom: 15px">
        <img src="../../assets/imagenes/logoIogin.png">
      </div>

     <div class="form-group">
       <label for="cedula">Usuario</label>
       <input id="cedula" type="text" formControlName="cedula" class="form-control" [ngClass]="{ 'is-invalid': submitted && cedula.errors }">
       <div *ngIf="submitted && cedula.errors" class="invalid-feedback">
         <div *ngIf="cedula.errors.required">La cédula es requerida</div>
       </div>
     </div>
  
      <div class="form-group">
        <label for="pass">Contraseña</label>
        <input id="pass" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && password.errors }">
        <div *ngIf="submitted && password.errors" class="invalid-feedback">
          <div *ngIf="password.errors.required">La contraseña es requerida</div>
        </div>
      </div>
  
      <div class="form-group">
        <button mat-button (click)="login()" [disabled]="loading || formLogin.invalid" class="mat-stroked-button botonAgregar">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>

      <a routerLink="/cambioContrasenna/correo/ingresar">Olvidé mi contraseña</a>
    </mat-card>
  </form>
</div>
