<div class="contenedor">
  <form [formGroup]="fromTipoMuestras">
    <h4>Agregar tipo de muestra</h4>
    <br>
    <mat-card class="formContainer">
      <div mat-dialog-content class="text-center">
        <input matInput formControlName="tipo" required>
      </div>
    </mat-card>
    <br>
    <button class="botonesAceptarCancelar" mat-button type="submit" (click)="agregar()">Aceptar</button>
    <button class="botonesAceptarCancelar" mat-button (click)="cerrar()">Cancelar</button>

  </form>
</div>
