table {
  text-align: center !important;
  width: 100%;
}

tr.mat-header-row {
  background-color: #78909C !important;
}

th.mat-header-cell {
  color: white !important;
}

.mat-row:nth-child(even){
  background-color:white;
  font-size: medium;
}

.mat-row:nth-child(odd){
  background-color: #ECEFF1;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.barraBusqueda {
  display: flex;
  justify-content: flex-end;
  right: 10px;
}

.botonesTabla {
  margin-right: 5px;
  background-color: #78909C;
  color: white;
}

.mat-column-consecutivo{
  width: auto;
}

.mat-column-fechaSolicitud{
  width: auto;
}

.mat-column-nombresolicitante{
  width: auto;
}

.mat-column-nombreEncargado{
  width: auto;
}

.mat-column-correoSolicitante{
  width: auto;
}

.mat-column-unidad{
  width: auto;
}

.mat-column-estado{
  width: auto;
}

mat-column-acciones{
  width: 0%;
  display: flex;
  align-items: center;
}

th, td {
  overflow: hidden;
  max-width: 15%;
  text-overflow: ellipsis;
}

td:nth-child(8){
  overflow: hidden;
  min-width: 15%;
  max-width: 15%;
  text-overflow: ellipsis;
}
