<div class="container">
  <form [formGroup]="formDetalles">
    <h2>Detalles de Solicitud</h2>
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Consecutivo" formControlName="consecutivo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del solicitante" formControlName="nombreSolicitante" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono" formControlName="telefono" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contacto Adicional" formControlName="contactoAdicional" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Urgencia" formControlName="urgencia" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Área de trabajo" formControlName="areaTrabajo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lugar de trabajo" formControlName="lugarTrabajo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Descripción del trabajo" formControlName="descripcionTrabajo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Estado" formControlName="estado" readonly>
      </mat-form-field>

      <mat-form-field  *ngIf="estado === 'Aprobada' || estado === 'Analizada' || estado === 'Finalizada'">
        <input matInput placeholder="Persona Asignada" formControlName="personaAsignada" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Aprobada' || estado === 'Analizada' || estado === 'Finalizada'">
        <input matInput placeholder="Observaciones de Aprobación" formControlName="observacionesAprob" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Analizada' || estado === 'Finalizada'">
        <input matInput placeholder="Insumos" formControlName="insumos" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Analizada' || estado === 'Finalizada'">
        <input matInput placeholder="Costo Estimado" formControlName="costoEstimado" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Analizada' || estado === 'Finalizada'">
        <input matInput placeholder="Observaciones de Análisis" formControlName="observacionesAnalisis" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Finalizada'">
        <input matInput placeholder="Periodo de Ejecución" formControlName="periodoEjecucion" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Finalizada'">
        <input matInput placeholder="Observaciones Finales" formControlName="observacionesFinales" readonly>
      </mat-form-field>

      <mat-form-field *ngIf="estado === 'Rechazada'">
        <input matInput placeholder="Motivo del Rechazo" formControlName="motivoRechazo" readonly>
      </mat-form-field>

      <div *ngIf="this.nombreArchivo">
        <mat-label>Archivo adjunto: {{this.nombreArchivo}}</mat-label>
        <button mat-stroked-button class="botonDescargar" (click)="descargar()" type="button">Descargar</button>
      </div>
      <mat-label *ngIf="!this.nombreArchivo">No hay ningún archivo adjunto</mat-label>

    </mat-card>

  </form>
</div>
