<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Regencia</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="buttonContainer">
        <button mat-stroked-button>Realizar solicitud</button>
        <button mat-stroked-button routerLink="/regencia/reactivos">Reactivos</button>
        <button mat-stroked-button routerLink="/regencia/cristaleria">Cristalería</button>
        <button mat-stroked-button [routerLink]="['/regencia/solicitudes', 'pendientes']">Solicitudes pendientes</button>
        <button mat-stroked-button [routerLink]="['/regencia/solicitudes', 'historico']">Histórico solicitudes</button>
        <a mat-stroked-button href="http://localhost:81/celeqBackEnd/api/regencia/reactivos/reporte-reactivos">Reporte Reactivos</a>
        <a mat-stroked-button href="http://localhost:81/celeqBackEnd/api/regencia/cristaleria/reporte-cristaleria">Reporte Cristaleria</a>
        <button mat-stroked-button>Mis solicitudes</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
