<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Regencia</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="buttonContainer">
        <button mat-stroked-button routerLink="/regencia/solicitudes/agregar/nueva/nueva">Realizar solicitud</button>
        <button mat-stroked-button routerLink="/regencia/reactivos">Reactivos</button>
        <button mat-stroked-button routerLink="/regencia/cristaleria">Cristalería</button>
        <button mat-stroked-button>Solicitudes pendientes</button>
        <button mat-stroked-button>Histórico solicitudes</button>
        <button mat-stroked-button>Mis solicitudes</button>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</div>
