<div class="container">
  <mat-accordion>
    <mat-expansion-panel class="pannel" *ngIf="revisarAlgunPermiso(['25', '15', '19', '26', '27', '23', '24', '28'])">
      <mat-expansion-panel-header>
        <mat-panel-title>Regencia</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="buttonContainer">
        <button mat-stroked-button routerLink="/regencia/solicitudes/agregar/nueva/nueva" *ngIf="revisarPermiso('25')">Realizar solicitud</button>
        <button mat-stroked-button routerLink="/regencia/reactivos" *ngIf="revisarPermiso('15')">Reactivos</button>
        <button mat-stroked-button routerLink="/regencia/cristaleria" *ngIf="revisarPermiso('19')">Cristalería</button>
        <button mat-stroked-button [routerLink]="['/regencia/solicitudes', 'pendientes']" *ngIf="revisarPermiso('26')">Solicitudes pendientes</button>
        <button mat-stroked-button [routerLink]="['/regencia/solicitudes', 'historico']" *ngIf="revisarPermiso('27')">Histórico solicitudes</button>
        <a mat-stroked-button href="http://localhost:81/celeqBackEnd/api/regencia/reactivos/reporte-reactivos" *ngIf="revisarPermiso('23')">Reporte Reactivos</a>
        <a mat-stroked-button href="http://localhost:81/celeqBackEnd/api/regencia/cristaleria/reporte-cristaleria" *ngIf="revisarPermiso('24')">Reporte Cristaleria</a>
        <button mat-stroked-button [routerLink]="['/regencia/solicitudes', 'usuario']" *ngIf="revisarPermiso('28')">Mis solicitudes</button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel class="pannel" *ngIf="revisarAlgunPermiso(['29', '30', '31', '32', '33'])">
      <mat-expansion-panel-header>
        <mat-panel-title>UMI</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="buttonContainer">
        <button mat-stroked-button routerLink="/umi/nueva-solicitud" *ngIf="revisarPermiso('29')">Realizar solicitud</button>
        <button mat-stroked-button [routerLink]="['/umi/solicitudes', 'pendientes']" *ngIf="revisarPermiso('30')">Aprobar solicitud</button>
        <button mat-stroked-button *ngIf="revisarPermiso('31')">Analizar solicitud</button>
        <button mat-stroked-button *ngIf="revisarPermiso('32')">Finalizar solicitud</button>
        <button mat-stroked-button [routerLink]="['/umi/solicitudes', 'historico']" *ngIf="revisarPermiso('33')">Histórico solicitud</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
