table {
  text-align: center !important;
  width: 100%;
}

tr.mat-header-row {
  background-color: #78909C !important;
}

th.mat-header-cell {
  color: white !important;
}

.mat-row:nth-child(even){
  background-color:white;
  font-size: medium;
}

.mat-row:nth-child(odd){
  background-color: #ECEFF1;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.botonesTabla {
  margin-right: 5px;
  background-color: #78909C;
  color: white;
}

mat-column-variable{
  width: 50%;
}

mat-column-valor{
  width: 50%;
}

mat-column-acciones{
  width: 20%;
  display: flex;
  align-items: center;
}
