<div class="container">

  <h2>Realizar solicitud de mantenimiento</h2>

  <form [formGroup]="formSolicitud">
    <mat-card class="formContainer">
      <mat-form-field>
        <input matInput placeholder="Nombre solicitante" formControlName="nombreSolicitante" required>
        <mat-error *ngIf="nombreSolicitante.errors?.required && nombreSolicitante.touched">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono o extensión" formControlName="telefono" required>
        <mat-error *ngIf="correoSolicitante.errors?.required && correoSolicitante.touched">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="correoSolicitante.errors?.email && correoSolicitante.touched">
          El correo no cumple con un formto válido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre encargado" formControlName="nombreEncargado">
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Observaciones" formControlName="observaciones"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Unidad</mat-label>
        <mat-select formControlName="unidad">
          <mat-option *ngFor="let unidad of unidades" [value]="unidad.nombre">
            {{unidad.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-card>

  </form>
