<div class="container">
  <form [formGroup]="formAranceles">
    <h2>Monto por hora</h2>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" matSort>

        <mat-form-field>
          <input matInput placeholder="Tipo" formControlName="tipo" readonly>
          <td mat-cell *matCellDef="let arancel">{{arancel.tipo}}</td>
        </mat-form-field>

        <ng-container matColumnDef="monto">
          <input matInput placeholder="Monto" formControlName="monto" readonly type="number">
          <td mat-cell *matCellDef="let arancel">{{arancel.monto}}</td>
          <mat-error *ngIf="monto.errors?.pattern && monto.touched">
            Sólo se permiten números
          </mat-error>
        </ng-container>

      </table>
    </div>
  </form>
</div>
