<div class="container">

  <h2>Análisis de solicitud de mantenimiento</h2>

  <form [formGroup]="formSolicitud">
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Consecutivo" formControlName="consecutivo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Nombre del solicitante" formControlName="nombreSolicitante" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Teléfono o extensión" formControlName="telefono" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Contacto adicional" formControlName="contacto" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Urgencia de la solicitud" formControlName="urgencia" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Área de trabajo a solicitar" formControlName="areaTrabajo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Lugar donde realiza el trabajo" formControlName="lugarTrabajo" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Descripción del trabajo" formControlName="descripcion" readonly>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Observaciones de aprobación" formControlName="observacionesAprobacion" readonly>
      </mat-form-field>
    </mat-card>

    <mat-card class="formContainer">
      <mat-form-field>
        <textarea matInput placeholder="Insumos necesarios para el trabajo" formControlName="insumos" required></textarea>
        <mat-error *ngIf="insumos.errors?.required && insumos.touched">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="insumos.errors?.maxlength && insumos.touched">
          El máximo de caracteres es de 500
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Costo aproximado" formControlName="costo" required>
        <mat-error *ngIf="costo.errors?.required && costo.touched">
          Este campo es obligatorio
        </mat-error>
        <mat-error *ngIf="costo.errors?.maxlength && costo.touched">
          El máximo de caracteres es de 100
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Observaciones" formControlName="observacionesAnalisis"></textarea>
        <mat-error *ngIf="observacionesAnalisis.errors?.maxlength && observacionesAnalisis.touched">
          El máximo de caracteres es de 500
        </mat-error>
      </mat-form-field>

      <div class="input-group">
        <div class="custom-file">
          <form action="/api/upload" method="post" enctype="multipart/form-data">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
          </form>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </mat-card>

  </form>

  <div class="position-absolute">
    <button mat-button class="botonesAceptarCancelar" type="submit" (click)="aceptar()"
            [disabled]="formSolicitud.invalid || (formSolicitud.controls.personaAsignada.value === '' && formSolicitud.controls.motivoRechazo.value === '')">Aceptar</button>
    <button mat-button class="botonesAceptarCancelar" type="button" (click)="cancelar()">Cancelar</button>
  </div>

</div>
