table {
  text-align: center !important;
  width: 100%;
}

tr.mat-header-row {
  background-color: #78909C !important;
}

th.mat-header-cell {
  color: white !important;
}

.mat-row:nth-child(even){
  background-color:white;
  font-size: medium;
}

.mat-row:nth-child(odd){
  background-color: #ECEFF1;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.barraBusqueda {
  display: flex;
  justify-content: flex-end;
  right: 10px;
}

.botonesTabla {
  margin-right: 5px;
  background-color: #78909C;
  color: white;
}

.botonAgregar {
  position: relative;
  top: 50px;
  z-index: 2;
  background-color: #78909C;
  color: white;
}

mat-column-provincia{
  width: 10%;
}

mat-column-canton{
  width: 10%;
}

mat-column-localidad{
  width: 10%;
}

mat-column-distancia{
  width: 10%;
}

mat-column-hospedaje{
  width: 10%;
}

mat-column-acciones{
  width: 10%;
  display: flex;
  align-items: center;
}

th, td {
  overflow: hidden;
  max-width: 20px;
  text-overflow: ellipsis;
}

td:nth-child(6){
  overflow: hidden;
  max-width: 40px;
  text-overflow: ellipsis;
}
