table {
  text-align: center !important;
  width: 100%;
  overflow-wrap: break-word;
}

tr.mat-header-row {
  background-color: #78909C !important;
}

th.mat-header-cell {
  color: white !important;
}

.mat-row:nth-child(even){
  background-color:white;
  font-size: medium;
}

.mat-row:nth-child(odd){
  background-color: #ECEFF1;
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-header-cell {
  text-align: center;
}

.barraBusqueda {
  display: flex;
  justify-content: flex-end;
  right: 10px;
}

.botonesTabla {
  margin-right: 5px;
  background-color: #78909C;
  color: white;
}

.mat-column-consecutivo{
  width: 10%;
}

.mat-column-nombresolicitante{
  width: 20%;
}

.mat-column-telefono{
  width: 10%;
}

.mat-column-contactoAdicional{
  width: 10%;
}

.mat-column-urgencia{
  width: 10%;
}

.mat-column-areaTrabajo{
  width: 10%;
}

.mat-column-lugarTrabajo{
  width: 15%;
}

.mat-column-descripcionTrabajo{
  width: 15%;
}

mat-column-acciones{
  width: 0%;
  display: flex;
  align-items: center;
}
