<div class="container">

  <h2>{{titulo}}</h2>

  <div style="margin-top: -3rem">

    <mat-form-field class="barraBusqueda">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="consecutivo" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Consecutivo</th>
          <td mat-cell *matCellDef="let solicitud">UMI-{{solicitud.anno}}-{{solicitud.id}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreSolicitante" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de solicitante</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.nombreSolicitante}}</td>
        </ng-container>

        <ng-container matColumnDef="nombrePersonaAsignada" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Persona Asignada</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.nombrePersonaAsignada}}</td>
        </ng-container>

        <ng-container matColumnDef="urgencia" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Urgencia</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.urgencia}}</td>
        </ng-container>

        <ng-container matColumnDef="areaTrabajo" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Área de trabajo</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.areaTrabajo}}</td>
        </ng-container>

        <ng-container matColumnDef="lugarTrabajo" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Lugar de trabajo</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.lugarTrabajo}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcionTrabajo" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción del trabajo</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.descripcionTrabajo}}</td>
        </ng-container>

        <ng-container matColumnDef="estado" readonly>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let solicitud">{{solicitud.estado}}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let solicitud">
            <button mat-button class="botonesTabla" [routerLink]="['../../aprobar-solicitud', solicitud.id, solicitud.anno]" *ngIf="modoForm === 'pendientes'">Revisar</button>
            <button mat-button class="botonesTabla" [routerLink]="['../../analizar-solicitud', solicitud.id, solicitud.anno]" *ngIf="modoForm === 'aprobadas'">Analizar</button>
            <button mat-button class="botonesTabla" [routerLink]="['../../finalizar-solicitud', solicitud.id, solicitud.anno]" *ngIf="modoForm === 'analizadas'">Finalizar</button>
            <button mat-button class="botonesTabla" [routerLink]="['../../solicitud', solicitud.id, solicitud.anno]" *ngIf="modoForm === 'historico'">Detalles</button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <button mat-button class="botonesAceptarCancelar" [routerLink]="['/']">Volver</button>

</div>
