.contenedor{
  display: flex;
  justify-content: center;
}

.iconoAfirmacion{
  color:green;
  font-size: 48px;
  width: 55px;
}

.iconoConfirmacion{
  color: #ffd700;
  font-size: 48px;
  width: 55px;
}

.iconoError{
  color:red;
  font-size: 48px;
  width: 55px;
}
