<div class="container">
  <h2>{{titulo}}</h2>

  <form [formGroup]="formGrupo">
    <mat-card class="formContainer">

      <mat-form-field>
        <input matInput placeholder="Nombre del Grupo" formControlName="descripcion" required>
        <mat-error *ngIf="descripcion.errors?.required && descripcion.touched">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
    </mat-card>
  </form>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Selección</th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)"
                      color="primary"
                      [disabled]="modoForm === 'visualizar'">

        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Permiso</th>
      <td mat-cell *matCellDef="let permiso">{{permiso.descripcion}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  <button mat-button type="submit" (click)="agregar()" *ngIf="modoForm === 'agregar'" [disabled]="formGrupo.invalid">Aceptar</button>
  <button mat-button type="submit" (click)="editar()" *ngIf="modoForm === 'editar'" [disabled]="formGrupo.invalid">Aceptar</button>
  <button mat-button type="button" (click)="cancelar()">Cancelar</button>

</div>
