<div class="container">

  <h2>Presupuestos</h2>

  <div style="margin-top: -3rem">

    <button mat-button class="botonAgregar" [routerLink]="['/regimen-becario/presupuestos', 'agregar', 'presupuesto']">Agregar</button>

    <mat-form-field class="barraBusqueda">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
          <td mat-cell *matCellDef="let presupuesto">{{presupuesto.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
          <td mat-cell *matCellDef="let presupuesto">{{presupuesto.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let presupuesto">
            <button mat-button class="botonesAceptarCancelar" [routerLink]="['/regimen-becario/presupuestos', 'editar', presupuesto.codigo]">Editar</button>
            <button mat-button class="botonesAceptarCancelar" (click)="abrirDialogoConfirmacion(presupuesto.codigo)">Eliminar</button>
          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
